body {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin-top: 10px;
  font-family: 'Roboto', sans-serif;
}

html {
  height: 100vh;
  width: 100vw;
  background-color: #fff;
}

#stats {
  color: #444;
  position: absolute;
  top: 205px;
  left: 380px;
}

button, input[type="submit"], input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

#load-elite-button {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: -40px;
  background-color: white;
  color: #333;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 10px;
  font-size: 0.8rem;
  width: 125px;
  border-radius: 3px;
}

#load-elite-button.loading {
  cursor: wait;
  background-color: #fafafa;
}

#load-elite-button.disabled {
  cursor: not-allowed;
  background-color: #fafafa;
}