body {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin-top: 10px;
  font-family: 'Roboto', sans-serif;
}

html {
  height: 100vh;
  width: 100vw;
  background-color: #fff;
}

#stats {
  color: #444;
  position: absolute;
  top: 205px;
  left: 380px;
}

#load-elite-button {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  width: 100px;
  top: -25px;
  background-color: #111;
  color: white;
}